* {
	padding: 0;
	margin: 0;
	border: none;
}

body {
	margin: 0;
	background-color: #FFF;
	color: #000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
	    padding-inline-start: 0;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button {
  /* Resetting box model */
  padding: 0;
  margin: 0;
  border: none;
  /* Resetting text styles */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  /* Resetting background and outline */
  background: none;
  outline: none;
  /* Resetting cursor */
  cursor: pointer;
  /* Resetting other styles */
  vertical-align: middle;
}


input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* end of css reset */


main {
	padding-top: 120px;
	padding-left: 20px; /* Adjust the padding as needed */
	padding-right: 20px; /* Adjust the padding as needed */
	text-align: center;
	max-width: 1200px;
	margin: 0 auto; /* Center the element horizontally */
}

footer {
  	background-color: #000;
  	color: #fff;
  	padding: 20px;
	border-top: 1px solid white;
	text-align: center;
}


section {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 28px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
}

#everything {
	opacity: 0;
  transition: opacity 1s ease-in-out;
}

#my-projects {
	margin: 0 200px;
	padding-bottom: 40px;
	border-bottom: none;
}

.project {
	border: 1px solid #000;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

.project:hover {
	box-shadow: 0 0 0 #000, 0 0 0 #000, 0 2px 0 #000, 0 0 0 #000;
	color: #444;
}

.project .title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
	font-weight: 700;
}

#my-projects .headline:hover {
	color: #444;
}

.project p {
	font-size: 22px;
	font-weight: 400;
}

.project-info {
	display: flex;
	padding: 0;
	border-top: 1px solid black;
}

.project .description {
	width: 80%;
	border-right: 1px solid black;
}

.project .stack {
	width: 20%;
	font-size: 18px;
	font-weight: 500;
}

.about {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	margin: 0;
	border-bottom: 1px solid #FFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#title {
	font-size: 40px;
	color: #fff;
	margin: 3px 24px 3px 12px;
	font-family: 'Kanit', sans-serif;
	transition: transform 100ms;
}

#title:hover {
	transform: scale(1.1);
	transition: transform 100ms;
}

#buttons {
	display: flex;
}

.button {
	font-size: 40px;
	color: #fff;
	padding: 3px 16px 3px 16px;
	font-family: 'Kanit', sans-serif;
	font-weight: 200;
	transition: background-color 50ms ease-in;
	height: 100%;
}

.button:hover {
	background-color: white;
	color: black;
	transition: color 50ms ease-out, background-color 100ms ease-out;
}

#intro {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 64px;
      font-family: "Kanit", sans-serif;
      font-weight: 600;
      color: #000;
      opacity: 1;
      transition: opacity 1s ease-in;
}

#intro2 {
	font-family: "Kanit", sans-serif;
    font-weight: 300;
}

#skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
  list-style: none;
	padding: 0 12%;
	gap: 8px; /* Add some gap between items */
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

#skills li {
  text-align: center; /* Optionally center-align the skills */
  font-size: 32px;
  transition: font-size 100ms ease-in-out;
}

#contact h3 {
	font-size: 32px;
}

#contact .about {
	padding-bottom: 8px;
}

.copy-text {
	cursor: pointer;
	text-decoration: underline;
}

.copy-text:hover {
	color: #DDD;
}

.dark-theme {
	background-color: #000;
	color: #fff;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
	color: #fff;
}

.dark-theme .copy-text {
	color: #ddd;
}


/* Media Query for Mobile Devices */
@media (max-width: 1080px) {
	nav {
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	#title {
		display: none;
	}

	#buttons {
		margin-top: 10px;
	}

	.button {
		font-size: 20px;
		padding: 5px 10px;
	}

	#everything {
		height: 100%;
		width: 100%;
	}

	h1 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 32px;
	}

	h2 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 22px;
	}

	h3 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 18px;
	}

	#skills li {
		text-align: center; /* Optionally center-align the skills */
		font-size: 26px;
		transition: font-size 100ms ease-in-out;
	}

	#my-projects {
		margin: 0;
	}

	.project-info .description {
		width: 66%;
	}

	.project-info .technologies {
		width: 34%;
	}
}